name: Api docs / students
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - dockerfile: ./swagger/students/Dockerfile
            imagename: workbook-students-api-docs
          - dockerfile: ./swagger/teachers/Dockerfile
            imagename: workbook-teachers-api-docs
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker build for students api docs
        id: buildx_students_api_docs
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Log in to github registry
        run:  |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Login to Quay.io Registry
        run: docker login -u "${{ secrets.QUAY_USERNAME }}" -p "${{ secrets.QUAY_PASSWORD }}" Quay.io
      - name: Build docker image for students api
        continue-on-error: true
        id: docker_build_students_api_docs
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.docker_build_students_api_docs.outputs.name }}
          file: ${{ matrix.dockerfile }}
          pull: true
          push: true
          tags: |
            ghcr.io/so-gineers/${{ matrix.imagename }}:1.0.0
            quay.io/so-gineers/${{ matrix.imagename }}:1.0.0